

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rozha+One&display=swap');

/*les couleurs des variables*/
:root{
--color-primary: #F18424;
--color-secondary: #633DFF;
--color-button-disabled: #FF9E49;
--color-black: #303030;
--color-white: #FFFFFF;
--color-icon-hover: hsla(0, 0%, 0%, 0.500);
--color-light-orage: #FFDBC3;
--color-grey: #E3E3E3;
--color-button-hover: #CB6C1A;
}


/*variable font*/
:root{
    --font-rozhaone: font-family: 'Rozha One', serif;
    --font-lato: font-family: 'Lato', sans-serif;
}


/*text styles */

.header {

    font-size : 28px ; 
    font-family: var(--font-rozhaone);
}

.H1 {

    font-size: 28px;
    font-family: var(--font-lato) ;
}

.H2 {

    font-size: 24px;
    font-family: var(--font-lato);

}

.H3 {

    font-size: 18px;
    font-family: var(--font-lato);
}

.paragraph {

    font-size: 18px;
    font-family: var(--font-lato);
}

.tinytext {

    font-size: 12px;
    font-family: var(--font-lato);
}

.title {

    font-size: 40px;
    font-family:var(--font-lato);
}



/*-------------------
Mise en forme DESIGN SYSTEM
---------------------*/
.H1-DesignSystem{
font-family: var(--font-lato);
font-size: 3rem;
}
header{
    background-color: #FFDBC3;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.text-paragraph-DesignSystem{
    font-family: var(--font-lato);
    font-size: 1.5rem;
}

.container-article-DesignSystem{
    font-family: var(--font-lato);
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(241, 132, 36, 0.5);
    width: fit-content;
    height: fit-content;
}





