

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rozha+One&display=swap');

:root{
    /*les couleurs des variables*/
    --color-primary: #F18424;
    --color-secondary: #633DFF;
    --color-button-disabled: #FF9E49;
    --color-black: #303030;
    --color-white: #FFFFFF;
    --color-icon-hover: hsla(0, 0%, 0%, 0.500);
    --color-light-orage: #FFDBC3;
    --color-grey: #E3E3E3;
    --color-button-hover: #CB6C1A;

    /*variable font*/
    --font-rozhaone: font-family: 'Rozha One', serif;
    --font-lato: font-family: 'Lato', sans-serif;
}


/*text styles */

.header {

    font-size : 28px ; 
    font-family: var(--font-rozhaone);
}

.H1 {

    font-size: 28px;
    font-family: var(--font-lato) ;
}

.H2 {

    font-size: 24px;
    font-family: var(--font-lato);

}

.H3 {

    font-size: 18px;
    font-family: var(--font-lato);
}

.p {

    font-size: 16px;
    font-family: var(--font-lato);
}

.tinytext {

    font-size: 12px;
    font-family: var(--font-lato);
}

.title {

    font-size: 40px;
    font-family:var(--font-lato);
}



/*-------------------
Mise en forme DESIGN SYSTEM
---------------------*/
.H1-DesignSystem{
font-family: var(--font-lato);
font-size: 3rem;
}
header{
    background-color: #FFDBC3;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.text-paragraph-DesignSystem{
    font-family: var(--font-lato);
    font-size: 1.5rem;
}

.container-article-DesignSystem{
    font-family: var(--font-lato);
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(241, 132, 36, 0.5);
    width: fit-content;
    height: fit-content;
}


/*--------------------
Les boutons primary
---------------------*/

.button-initial{
    position: relative;
    width: 159px;
    height: 36px;
    left: 78px;
    top: 27px;
    background: #F18424;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;
}


/* -----------------
ICONES
--------------------*/
.icon{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon--s{
    width: 2rem;
    height: 2rem;
}
.icon--m{
    width: 4rem;
    height: 4rem;
}
.icon--profile{
    background-image: url(assets/icons/icon-profil.svg);
}
.icon--arrow-down{
    background-image: url(assets/icons/icon-arrow-down.svg);
}
.icon--croix{
    background-image: url(assets/icons/icon-croix.svg);
}
.icon--heart{
    background-image: url(assets/icons/icon-heart.svg);
}
.icon--home{
    background-image: url(assets/icons/icon-home.svg);
}
.icon--message{
    background-image: url(assets/icons/icon-message.svg);
}
.icon--pen{
    background-image: url(assets/icons/icon-pen.svg);
}
.icon--people{
    background-image: url(assets/icons/icon-people.svg);
}
.icon--picture{
    background-image: url(assets/icons/icon-picture.svg);
}
.icon--plume{
    background-image: url(assets/icons/icon-plume.svg);
}
.icon--return{
    background-image: url(assets/icons/icon-return.svg);
}
.icon--send{
    background-image: url(assets/icons/icon-send.svg);
}
.icon--timer{
    background-image: url(assets/icons/icon-timer.svg);
}

/*--------------------
Les boutons primary
---------------------*/

.button-initial{
    position: relative;
    width: 159px;
    height: 36px;
    left: 78px;
    top: 27px;
    background: #F18424;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;
    }

.button-hover{
    position: relative;
    width: 159px;
    height: 36px;
    left: 78px;
    top: 27px;
    background: #CB6C1A;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;

}

.button-disabled{
    position: relative;
    width: 159px;
    height: 36px;
    left: 78px;
    top: 27px;
    background: #FF9E49;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;

}

.button-active{
    position: relative;
    width: 159px;
    height: 36px;
    left: 78px;
    top: 27px;
    background: #F18424;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;

}

/*--------------------
Les boutons debat
---------------------*/

.Option-A-borders{

    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;

position: relative;
width: 99px;
height: 35px;
left: 20px;
top: 20px;
color: #633DFF;

background: #FFFFFF;
/* Secondary */

border: 1px solid #633DFF;
border-radius: 16px;
}

.Option-A-full{

    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;

position: relative;
width: 98px;
height: 35px;
left: 20px;
top: 75px;
color: #FFFFFF;

/* Secondary */

background: #633DFF;
/* White */


border: 1px solid #FFFFFF;
border-radius: 16px;
}

/*--------------------
Categories
---------------------*/

.categories{
position:static;
width: 329px;
height: 125px;
left: 20px;
top: 20px;
border-style: none;

background: #FFFFFF;
border-radius: 10px;
}

/*--------------------
Challenges cards
---------------------*/

.challenges-cards{
display: flex;
flex-direction: column;
align-items: center;
padding: 9px 0px 50px;
gap: 10px;

position: absolute;
width: 328px;
height: 347px;
left: 20px;
top: 20px;

background: #FFFFFF;
/* subtil */

box-shadow: 0px 2px 5px rgba(241, 132, 36, 0.5);
border-radius: 10px;
}

.trending{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 7px;
    gap: 6px;
    
    position: absolute;
    width: 91px;
    height: 23px;
    left: 11px;
    top: 65px;
    border-style: none;
    color: #FFFFFF;
    
    /* Primary */
    
    background: #F18424;
    border-radius: 6px;

}

/*cards*/


 
/* Challenges */

.card {
    padding: 0px;
    width: 328px;
    height: 209px;
    top: 44px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(241, 132, 36, 0.5);
    border-radius: 10px;
    background-image: url('chemin/vers/image.png');
    }

    .card-group-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    }
    
    .card-header {
    /* Styles pour l'en-tête de la card */
    display: flex;
    align-items: center;
    padding: 16px;

    }
    
    .avatar {
    /* Styles pour l'image utilisateur */
    width: 28px;
    height: 28px;
    border-radius: 50%; /* Rend l'image ronde */
    object-fit: cover;


    }
    
    .card-header-info {
    /* Styles pour les informations de l'en-tête */
    width: 100%;
    grid-template-columns: 3(1fr);
    display: flex;
    gap: 4rem;
    }

    .normal{
    display:block;
    width: 328px;
    height: 228px;

    }



/* Creer un post  */

.card {
    /* Styles pour la card */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 328px;
    height: 209px;
    top: 44px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(241, 132, 36, 0.5);
    border-radius: 10px;
    font-family: var(--font-lato);
    
    }
    
    .card-header {
    /* Styles pour l'en-tête de la card */
    align-items: center;
    padding: 16px;}
    
    .card-header img {
    /* Styles pour l'image utilisateur */
    width: 28px;
    height: 28px;
    border-radius: 50%; /* Rend l'image ronde */
    
    }
    
    .card-header-info {
    /* Styles pour les informations de l'en-tête */
    margin-left: 16px;
    }
    
    .card-content {
    /* Styles pour le contenu de la card */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    }
    
    
    .card-footer a {
    /* Styles pour les liens du pied de la card */
    margin-right: 16px;
    }


/* card challenge elora */
.challenge-container{
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(241, 132, 36, 0.5);    width: 328px;
    height: 347px;
    padding: 10px;
}

.user-profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img-challenge{
    width: 328px;
    height: 228px;
    object-fit: cover;
    margin-top: 1rem;
    padding: 0px;
}
.contenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

h2{
    margin: 0;
}

p{
    margin: 0;
}
