

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rozha+One&display=swap');

/*les couleurs des variables*/
:root{
--color-primary: #F18424;
--color-secondary: #633DFF;
--color-button-disabled: #FF9E49;
--color-black: #303030;
--color-white: #FFFFFF;
--color-icon-hover: hsla(0, 0%, 0%, 0.500);
--color-light-orage: #FFDBC3;
--color-grey: #E3E3E3;
--color-button-hover: #CB6C1A;
}


/*variable font*/
:root{
    --font-rozhaone: 'Rozha One', serif;
    --font-lato: 'Lato', sans-serif;
}

/*-------------------
Mise en forme DESIGN SYSTEM
---------------------*/
.H1-DesignSystem{
font-family: var(--font-lato);
font-size: 3rem;
}
header{
    background-color: #FFDBC3;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.text-paragraph-DesignSystem{
    font-family: var(--font-lato);
    font-size: 1.5rem;
}
