body{
    background-color: #463f3a;
    display: flex;
    align-items: center;
    justify-content: center;   
   
}
main{
    width: 22.5rem;
    min-height: 40rem;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.navbar-pos{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 10000;
}
.home--feed-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
}