.search--title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.search--section-cat{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}